<!DOCTYPE html>
<html lang="en">
<h2>Tableau des amorces</h2>
<table>
    <tr>
        <th>Amorce</th>
        <th>orientation</th>
        <th>sequence</th>
        <th>taille</th>
        <th>pourcentage_gc</th>
        <th>temperature_melting</th>
    </tr>
    {% for amorce in amorces %}
    <tr>
        <td>{{ amorce.nom }}</td>
        <td>{{ amorce.orientation }}</td>
        <td>{{ amorce.sequence }}</td>
        <td>{{ amorce.taille }}</td>
        <td>{{ amorce.pourcentage_gc }}</td>
        <td>{{ amorce.temperature_melting }}</td>
    </tr>
    {% endfor %}
</table>
</html>